
<%- include("partials/header"); -%>







    <h3>Latest News</h3>
    
    <%  posts.forEach(function(post){ %>

      <li><%=post.title%></li>
      <p>
      <%=post.content%>
      <a href="/posts/<%=post._id%>">comments</a>
    
      <a href="/edit/<%= post._id %>" class="post-link" ><button type="button" name="edit" value="<%= post.title %>" class="btn btn-outline-secondary">edit</button></a>
      
      <form action="/delete" method="POST">
        <button type="submit" name="delete" value="<%= post._id %>" class="btn btn-outline-secondary">DELETE</button>
      </form>
      
    </p>
  





    <% }) %>


<%- include("partials/footer"); -%>
